body, html {
  font: 10px sans-serif;
  position: static;
  font-size:100%;
  font-family: Verdana, Geneva, sans-serif
}

/**** select year ****/

.caja {
   margin:20px auto 40px auto;  
   border:2px solid #d9d9d9;
   height:50px;
   overflow: hidden;
   width: 230px;
   position:relative;
}
select {
   background: transparent;
   border: none;
   font-size: 20px;
   height: 30px;
   padding: 5px;
   width: 250px;
}
select:focus{ outline: none;}

.caja::after{
  content:"\025be";
  display:table-cell;
  padding-top:7px;
  text-align:center;
  width:30px;
  height:30px;
  background-color:#d9d9d9;
  position:absolute;
  top:0;
  right:0px;  
  pointer-events: none;
}

/**** Class in D3 ****/


.axis path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
 
.axis text {
    fill: black;
    font-size: 15px;
}
 
.axis line {    
    stroke: black;
    shape-rendering: geometricPrecision;
/*    shape-rendering: crispEdges;
*/}
 
.axis .axis-label {
    font-size: 14px;
}
 

.dot{

}

.line {
    fill: none;
    stroke-width: 1px;
    stroke: #88a886
    /*stroke: #A9A9A9;*/
}

.active, .line:hover {
    stroke: #e41a1c !important;
    stroke-width: 2.5px !important;   
}

.textTimeProvPos{
    font-size: 10px;
}

div.tooltip {   
    position: absolute;         
    text-align: left;         
    width: 170px;                    
    height: 35px;                   
    padding: 7px;               
    font: 12px sans-serif;      
    background: lightsteelblue; 
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;           
}

div.tooltipRunner {   
    position: absolute;         
    text-align: right;         
    width: 170px;                    
    height: 35px;                   
    padding: 7px;               
    font: 12px sans-serif;      
    background: #b3b0de; 
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;           
}



